.btn {
  background-color: #00000000;
  transition: transform 0.3s ease;
  border: none;
  position: fixed;
  top: 0.3em;
}

.btn--right {
  right: 60%;
}

.btn--left {
  left: 0.3em;
}

.btn--right:hover {
  transform: translateX(-0.2em);
}

.btn--left:hover {
  transform: translateX(0.2em);
}
