.btn {
    transition: transform 0.3s ease;
    border: none;
    position: fixed;
    top: 0.3em;
}

.btn--right {
    background-color: blueviolet;
    right: 0.3em;
}

.btn--left {
    background-color: crimson;
    left: 0.3em;
}

.btn--right:hover {
    transform: translateX(-0.2em);
}

.btn--left:hover {
    transform: translateX(0.2em);
}