.navMenu {
  background-color: #444c56e6;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 60%;
}

.navMenu .nav-link {
  color: white;
  position: static;
  text-decoration: none;
}

.navMenu .nav-link:hover {
  transform: translateX(0.2em);
}

.navMenu ul {
  position: relative;
  background-color: #00000000;
  list-style-type: none;
  margin: 5rem 0 0 0;
  padding: 0;
}

.navMenu .arrow {
  position: absolute;
  right: -1rem;
}