.program-highlight-section {
  padding-bottom: 1rem;
}

.program-card-row {
  display: flex;
  margin: 0 -0.5rem 3.5rem;
  overflow-x: auto;
}
.program-card-row .program-card-col {
  padding: 0 0.5rem 1rem;
  text-align: center;
}
.program-card-row .program-card-block {
  width: 10.5rem;
  display: block;
}
.program-card-row .img-wrap {
  border-radius: 100%;
  display: block;
  height: 8.1rem;
  width: 8.1rem;
  padding: 0.2rem;
  background: linear-gradient(90deg, #54ccf2 0%, #7d54f2 100%);
  margin: 0 auto 2rem;
}
.program-card-row .img-wrap img {
  border-radius: 100%;
  width: 100%;
}
.program-card-row .card-name {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.program-card-row .card-title {
  display: block;
  font-family: Zilla Slab, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 1.8rem;
  line-height: 1.166;
  color: #fff;
  font-weight: 400;
}

@media screen and (min-width: 490px) {
  .program-card-row {
    flex-wrap: wrap;
    overflow: visible;
    justify-content: space-between;
  }

  .program-card-row .program-card-col {
    max-width: 15rem;
    min-width: 15rem;
    padding-bottom: 2rem;
  }

  .program-card-row .program-card-block {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .program-card-row .program-card-col {
    max-width: 18rem;
    min-width: 18rem;
  }

  .program-card-row .img-wrap {
    width: 15rem;
    height: 15rem;
  }

  .program-card-row .card-name {
    font-size: 1.5rem;
  }

  .program-card-row .card-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .program-card-row .program-card-col {
    max-width: 20rem;
    min-width: 20rem;
  }

  .program-card-row .img-wrap {
    width: 18rem;
    height: 18rem;
  }
}
