.header-holder {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 0;
  line-height: 0;
}

/* .header-holder::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 16rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.6%, #000000 90.25%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
} */

.header-holder + main {
  padding-top: 16rem;
}

.bookmark {
  font-size: 1.3rem;
  line-height: 1.23;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-left: auto;
}

.bookmark:hover {
  color: #00d1ff;
}

.nav-opener {
  width: 2rem;
}
